<div class="container">
  
<div class="card my-5 fw-b">
  <ul class="list-group list-group-flush fw-bold lh-lg">
    <li class="list-group-item ">Id: {{getData.id}}</li>
    <li class="list-group-item ">Name: {{getData.name}}</li>
    <li class="list-group-item ">Level: {{getData.level}}</li>
    <li class="list-group-item ">Gander: {{getData.gander}}</li>
    <li class="list-group-item ">Created_at: {{getData.created_at | date:'medium'  }}</li>
    <li class="list-group-item ">Update at: {{getData.updated_at | date:'medium' }}</li>
    
  </ul>
</div>
</div>